In [1]:
import pandas as pd

In [ ]:
# Загрузка данных во фреймы
# Финансовая информация
df_financial_data = pd.read_csv("../data/financial_data.csv")
# Информация о пролонгациях
df_prolongations = pd.read_csv("../data/prolongations.csv")

In [3]:
# Ознакомление со структурой загруженных финансовых данных
df_financial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             451 non-null    int64
 1   Причина дубля  301 non-null    object
 2   Ноябрь 2022    156 non-null    object
 3   Декабрь 2022   159 non-null    object
 4   Январь 2023    139 non-null    object
 5   Февраль 2023   145 non-null    object
 6   Март 2023      168 non-null    object
 7   Апрель 2023    174 non-null    object
 8   Май 2023       190 non-null    object
 9   Июнь 2023      190 non-null    object
 10  Июль 2023      195 non-null    object
 11  Август 2023    199 non-null    object
 12  Сентябрь 2023  186 non-null    object
 13  Октябрь 2023   182 non-null    object
 14  Ноябрь 2023    171 non-null    object
 15  Декабрь 2023   146 non-null    object
 16  Январь 2024    95 non-null     object
 17  Февраль 2024   101 non-null    object
 18  Account        451 non-null    object
dtypes: int64(1), object(18)
memory usage: 67.1+ KB

In [4]:
# Ознакомление со структурой загруженных данных о пролонгациях
df_prolongations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      477 non-null    int64
 1   month   477 non-null    object
 2   AM      477 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.3+ KB

In [5]:
# Визуальное ознакомление с финансовыми данными
df_financial_data.head()

,id,Причина дубля,Ноябрь 2022,Декабрь 2022,Январь 2023,Февраль 2023,Март 2023,Апрель 2023,Май 2023,Июнь 2023,Июль 2023,Август 2023,Сентябрь 2023,Октябрь 2023,Ноябрь 2023,Декабрь 2023,Январь 2024,Февраль 2024,Account
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович

In [6]:
# Визуальное ознакомление с данными о пролонгациях
df_prolongations.head()

    id        month                             AM
0   42  ноябрь 2022   Васильев Артем Александрович
1  453  ноябрь 2022   Васильев Артем Александрович
2  548  ноябрь 2022      Михайлов Андрей Сергеевич
3   87  ноябрь 2022  Соколова Анастасия Викторовна
4  429  ноябрь 2022  Соколова Анастасия Викторовна

In [7]:
# Унификация данных о датах
MNAME_TO_NUM = {
    "январь": "01",
    "февраль": "02",
    "март": "03",
    "апрель": "04",
    "май": "05",
    "июнь": "06",
    "июль": "07",
    "август": "08",
    "сентябрь": "09",
    "октябрь": "10",
    "ноябрь": "11",
    "декабрь": "12",
}


def date_parse(name):
    parts = name.strip().lower().split()
    if (len(parts) == 2) and (parts[0] in MNAME_TO_NUM) and parts[1].isdigit():
        return f"{parts[1]}-{MNAME_TO_NUM[parts[0]]}"
    return name


df_financial_data.columns = df_financial_data.columns.map(date_parse)
df_prolongations["month"] = df_prolongations["month"].map(date_parse)

In [8]:
# Проверка отсутствия пропущенных значений в id
if df_financial_data["id"].isna().any():
    print(f'Столбец "id" в financial_data содержит значения NaN')

if df_prolongations["id"].isna().any():
    print(f'Столбец "id" в prolongations содержит значения NaN')

In [9]:
if df_financial_data["Причина дубля"].isna().any():
    df_financial_data["Причина дубля"] = df_financial_data["Причина дубля"].fillna("Полная оплата")
    print(f'Столбец "Причина дубля" в financial_data содержал значения NaN')
    print('Скорректировано на "Полная оплата"')

# Список причин дублей для ознакомления
df_financial_data["Причина дубля"].unique().tolist()
# Считаем, что "Полная оплата" означает проект без дублей оплат
# В ТЗ не определено наше отношение в причинам дублей, считаем их равноценными.

Столбец "Причина дубля" в financial_data содержал значения NaN
Скорректировано на "Полная оплата"

['Полная оплата',
 'первая часть оплаты',
 'вторая часть оплаты',
 'изменение ЮЛ',
 'доп работы',
 'основные работы',
 'карты, банки']

In [10]:
# Проверка отсутствия пропущенных значений в month
if df_prolongations["month"].isna().any():
    print(f'Столбец "month" в prolongations содержит значения NaN')

In [11]:
# Проверка наличия проектов без первичных данных о менеджере и дате завершения
df_id_diff = set(df_financial_data["id"]) - set(df_prolongations["id"])
if df_id_diff != set([]):
    # У нас есть проект без явно назначенного менеджера в первичном источнике данных
    print(
        f'Столбец "id" в financial_data содержит значения {df_id_diff} без пары в первичном источнике (prolongations)'
    )
    # Значит имя менеджера нужно будет брать из вторичных данных
    # Более того, из этого вытекает, что дата завершения проекта не определена

Столбец "id" в financial_data содержит значения {930} без пары в первичном источнике (prolongations)

In [12]:
base_columns = ["id", "Причина дубля", "Account"]
date_columns = sorted(set(df_financial_data.columns) - set(base_columns))

In [13]:
# Подготовка данных в столбцах с финансовой информацией
df_financial_data_cleaned = df_financial_data.copy()

for column in date_columns:
    df_financial_data_cleaned[column] = pd.to_numeric(
        df_financial_data_cleaned[column]
        .str.replace(",", ".", regex=False)
        .str.replace("\xa0", "", regex=False)
        .str.replace("в ноль", "0.0", regex=False)
        .str.replace("стоп", "-1", regex=False)
        .str.replace("end", "-1", regex=False)
    )

df_financial_data_cleaned

,id,Причина дубля,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,Account
0,42,Полная оплата,36220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,Полная оплата,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,Полная оплата,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,281,основные работы,76550.0,79950.0,66900.0,89150.0,108450.0,77100.0,78800.0,126740.0,117730.0,115860.0,160770.0,142490.0,99125.0,74350.0,105775.0,92065.0,Соколова Анастасия Викторовна
447,281,доп работы,21450.0,13300.0,15900.0,19850.0,17350.0,14650.0,15900.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Соколова Анастасия Викторовна
448,785,Полная оплата,NaN,NaN,NaN,5306.6,12898.1,5287.0,10180.0,8600.0,3860.0,8600.0,700.0,700.0,0.0,0.0,NaN,NaN,Соколова Анастасия Викторовна
449,913,Полная оплата,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58200.0,58200.0,58200.0,58200.0,58200.0,58200.0,NaN,NaN,Смирнова Ольга Владимировна
450,930,первая часть оплаты,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36687.5,31152.5,30350.0,34547.5,25750.0,25600.0,Кузнецов Михаил Иванович

In [14]:
# Устранение дублирующейся информации по менеджерам и ведомым проектам
df_prolongations_cleaned = df_prolongations.drop_duplicates().reset_index(drop=True)
print(f'Устранено дублирующихся записей: {len(df_prolongations) - len(df_prolongations_cleaned)} шт.')

Устранено дублирующихся записей: 3 шт.

In [15]:
# Агрегация данных по каждому "проекту-менеджеру"
df_financial_data_grouped = (
    df_financial_data_cleaned.groupby(["id", "Account"])
    .agg(lambda x: x.dropna().tolist())
    .reset_index()
)

df_financial_data_grouped

,id,Account,Причина дубля,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02
0,15,Иванова Мария Сергеевна,"[первая часть оплаты, вторая часть оплаты]","[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[]
1,16,Иванова Мария Сергеевна,[Полная оплата],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]
2,31,Васильев Артем Александрович,[Полная оплата],[55100.0],[55100.0],[],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[44775.0],[46200.0]
3,39,Попова Екатерина Николаевна,[первая часть оплаты],[137700.0],[137700.0],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[149206.5],[],[]
4,42,Васильев Артем Александрович,[Полная оплата],[36220.0],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,1001,Кузнецов Михаил Иванович,[Полная оплата],[],[],[],[],[],[],[],[],[],[],[],[],[290000.0],[],[],[]
310,1004,без А/М,[Полная оплата],[],[],[],[],[],[],[],[],[],[],[],[],[34000.0],[0.0],[],[]
311,1006,Смирнова Ольга Владимировна,[Полная оплата],[],[],[],[],[],[],[],[],[],[],[],[145195.0],[140495.0],[140495.0],[],[]
312,1012,Петрова Анна Дмитриевна,[Полная оплата],[],[],[],[],[],[],[],[],[],[],[],[],[98492.0],[109442.52],[],[]
313,1015,Смирнова Ольга Владимировна,"[первая часть оплаты, вторая часть оплаты]",[],[],[],[],[],[],[],[],[],[],[],[],"[103700.0, 60000.0]",[15000.0],[],[]

In [16]:
# Объединение данных таблиц с проектами и менеджерами для дальнейшего анализа
df_data = df_financial_data_grouped.merge(
    df_prolongations_cleaned, on=["id"], how="inner"
)

# Для случая NaN в столбце "AM" по ТЗ информация берётся из вторичного источника (столбец "Account")
mask = df_data["AM"].isna()
if mask.any():
    df_data.loc[mask, "AM"] = df_data.loc[mask, "Account"]
    print('Столбец "AM" содержал значения NaN')
    print('Скорректировано на значение из вторичного истоника - столбца "Account"')

df_data = df_data.drop(columns=["Account", "Причина дубля"])

df_data

,id,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,month,AM
0,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2022-12,Иванова Мария Сергеевна
1,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-02,Иванова Мария Сергеевна
2,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-03,Иванова Мария Сергеевна
3,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-04,Иванова Мария Сергеевна
4,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-06,Иванова Мария Сергеевна
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,1001,[],[],[],[],[],[],[],[],[],[],[],[],[290000.0],[],[],[],2023-11,Кузнецов Михаил Иванович
470,1004,[],[],[],[],[],[],[],[],[],[],[],[],[34000.0],[0.0],[],[],2023-12,без А/М
471,1006,[],[],[],[],[],[],[],[],[],[],[],[145195.0],[140495.0],[140495.0],[],[],2023-12,Смирнова Ольга Владимировна
472,1012,[],[],[],[],[],[],[],[],[],[],[],[],[98492.0],[109442.52],[],[],2023-11,Петрова Анна Дмитриевна
473,1015,[],[],[],[],[],[],[],[],[],[],[],[],"[103700.0, 60000.0]",[15000.0],[],[],2023-11,Смирнова Ольга Владимировна

In [17]:
# Исключение из расчётов данных об остановленных проектах
skipped = []
skipped_data = []
for idx, row in df_data.iterrows():
    for c in date_columns:
        if c <= row["month"] and (-1 in row[c]):
            skipped.append(idx)
            skipped_data.append((row["id"], row["month"]))

print(f"Обнаружено {len(skipped)} остановок проектов: {skipped_data}")
df_data_cleaned = df_data[~df_data.index.isin(skipped)].copy()
print("Записи об остановленных проектах исключены из расчётов")

df_data_cleaned

Обнаружено 49 остановок проектов: [(83, '2023-10'), (101, '2023-02'), (180, '2023-02'), (180, '2023-08'), (199, '2023-11'), (244, '2023-11'), (369, '2023-11'), (418, '2022-12'), (456, '2022-12'), (457, '2022-12'), (460, '2023-10'), (477, '2022-12'), (519, '2023-11'), (556, '2023-02'), (562, '2023-11'), (572, '2022-12'), (573, '2022-12'), (574, '2022-12'), (575, '2022-12'), (576, '2022-12'), (594, '2022-11'), (613, '2022-12'), (615, '2022-12'), (617, '2022-12'), (626, '2022-12'), (643, '2022-12'), (657, '2022-11'), (663, '2023-04'), (690, '2023-05'), (690, '2023-11'), (690, '2023-11'), (713, '2023-08'), (728, '2023-04'), (740, '2023-06'), (788, '2023-04'), (830, '2023-07'), (831, '2023-09'), (852, '2023-10'), (859, '2023-09'), (873, '2023-11'), (886, '2023-11'), (898, '2023-09'), (900, '2023-11'), (914, '2023-11'), (921, '2023-09'), (943, '2023-10'), (944, '2023-12'), (972, '2023-10'), (976, '2023-11')]
Записи об остановленных проектах исключены из расчётов

,id,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,month,AM
0,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2022-12,Иванова Мария Сергеевна
1,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-02,Иванова Мария Сергеевна
2,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-03,Иванова Мария Сергеевна
3,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-04,Иванова Мария Сергеевна
4,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],[],[],[],[],[],[],[],2023-06,Иванова Мария Сергеевна
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,1001,[],[],[],[],[],[],[],[],[],[],[],[],[290000.0],[],[],[],2023-11,Кузнецов Михаил Иванович
470,1004,[],[],[],[],[],[],[],[],[],[],[],[],[34000.0],[0.0],[],[],2023-12,без А/М
471,1006,[],[],[],[],[],[],[],[],[],[],[],[145195.0],[140495.0],[140495.0],[],[],2023-12,Смирнова Ольга Владимировна
472,1012,[],[],[],[],[],[],[],[],[],[],[],[],[98492.0],[109442.52],[],[],2023-11,Петрова Анна Дмитриевна
473,1015,[],[],[],[],[],[],[],[],[],[],[],[],"[103700.0, 60000.0]",[15000.0],[],[],2023-11,Смирнова Ольга Владимировна

In [18]:
# Сбор статистики по продлению договоров
PROLONGATION_MONTH_COL = "Дата пролонгации"
K1_DENOMINATOR = "Знаменатель K1"  # Сумма отгрузки в последний месяц проекта
K1_NUMERATOR = "Числитель K1"  # Сумма отгрузки в первый месяц после завершения (своевременная пролонгация)
K2_DENOMINATOR = "Знаменатель K2"  # Сумма отгрузки в последний месяц проекта, но непролонгированного своевременно в первый месяц
K2_NUMERATOR = "Числитель K2"  # Сумма отгрузки во второй месяц после завершения при нулевой в первый месяц (несвоевременная пролонгация)


def get_metrics(row):
    prolongation_month = "Непролонгирован"
    k1_denominator = 0.0
    k1_numerator = 0.0
    k2_denominator = 0.0
    k2_numerator = 0.0

    # Последний месяц проекта
    project_end = row["month"]
    
    # Список месяцев до окончания проекта (включительно)
    past_columns = [c for c in date_columns if c <= project_end]
    # Список месяцев после окончания проекта
    future_columns = [c for c in date_columns if c > project_end]

    # Сумма отгрузки в последний НЕНУЛЕВОЙ месяц проекта
    if len(past_columns) > 0:
        k1_denominator = sum(row[past_columns[-1]])
        # Если отгрузка в последний месяц "в ноль",
        if (k1_denominator == 0) and len(past_columns) > 1:  # то берем предыдущий месяц
            k1_denominator = sum(row[past_columns[-2]])

    # Если проект завершился и сумма завершения не "в ноль"
    if k1_denominator > 0:
        # Считаем выручку в первом месяце после завершения
        k1_numerator = (
            sum(value for value in row[future_columns[0]] if value > 0)
            if len(future_columns) > 0
            else 0
        )
        
        # Если выручка была (проект своевременно продлён)
        if k1_numerator > 0:
            # то фиксируем месяц продления
            prolongation_month = future_columns[0]
        else:  # Иначе
            # Фиксируем сумму завершившегося, но не пролонгированного в первый месяц проекта
            k2_denominator = k1_denominator
            # И пробуем посмотреть на второй месяц после завершения проекта
            k2_numerator = (
                sum(value for value in row[future_columns[1]] if value > 0)
                if len(future_columns) > 1
                else 0
            )
            # Если выручка пошла (пролонгирован, хть и с опозданием)
            if k2_numerator > 0:
                # тогда месяцем продления будем считать второй месяц
                prolongation_month = future_columns[1]

    return (
        prolongation_month,
        k1_denominator,
        k1_numerator,
        k2_denominator,
        k2_numerator,
    )


# Сбор статистики по пролонгациям по каждому проекту в отдельности
df_data_cleaned[
    [
        PROLONGATION_MONTH_COL,
        K1_DENOMINATOR,
        K1_NUMERATOR,
        K2_DENOMINATOR,
        K2_NUMERATOR,
    ]
] = df_data_cleaned.apply(get_metrics, axis=1, result_type="expand")

df_data_cleaned

,id,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,...,2023-12,2024-01,2024-02,month,AM,Дата пролонгации,Знаменатель K1,Числитель K1,Знаменатель K2,Числитель K2
0,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],...,[],[],[],2022-12,Иванова Мария Сергеевна,2023-01,439280.00,102433.75,0.00,0.0
1,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],...,[],[],[],2023-02,Иванова Мария Сергеевна,2023-03,102433.75,102433.75,0.00,0.0
2,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],...,[],[],[],2023-03,Иванова Мария Сергеевна,2023-04,102433.75,138158.00,0.00,0.0
3,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],...,[],[],[],2023-04,Иванова Мария Сергеевна,2023-05,138158.00,138158.00,0.00,0.0
4,15,"[329460.0, 109820.0]","[329460.0, 109820.0]",[102433.75],[102433.75],[102433.75],[138158.0],[138158.0],[102433.75],[],...,[],[],[],2023-06,Иванова Мария Сергеевна,Непролонгирован,102433.75,0.00,102433.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,1001,[],[],[],[],[],[],[],[],[],...,[],[],[],2023-11,Кузнецов Михаил Иванович,Непролонгирован,290000.00,0.00,290000.00,0.0
470,1004,[],[],[],[],[],[],[],[],[],...,[0.0],[],[],2023-12,без А/М,Непролонгирован,34000.00,0.00,34000.00,0.0
471,1006,[],[],[],[],[],[],[],[],[],...,[140495.0],[],[],2023-12,Смирнова Ольга Владимировна,Непролонгирован,140495.00,0.00,140495.00,0.0
472,1012,[],[],[],[],[],[],[],[],[],...,[109442.52],[],[],2023-11,Петрова Анна Дмитриевна,2023-12,98492.00,109442.52,0.00,0.0
473,1015,[],[],[],[],[],[],[],[],[],...,[15000.0],[],[],2023-11,Смирнова Ольга Владимировна,2023-12,163700.00,15000.00,0.00,0.0

In [19]:
# Выгрузка данных в промежуточный документ
# для дальнейшей компановки и визуализации в Excel
df_data_cleaned[["AM", PROLONGATION_MONTH_COL, K1_DENOMINATOR, K1_NUMERATOR, K2_DENOMINATOR, K2_NUMERATOR]].to_excel("output.xlsx", index=False)